<!DOCTYPE html>

<html>
<head>
    <meta content="text/html" charset="UTF-8"/>
    <meta description="viewport" content="width=device-width, initial-scale=1"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/assets/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/articles.css}"/>
    <title>Nörd | Nemendafélag</title>
</head>

<body>
<header th:replace="layout :: header"></header>
<div th:replace="ad/ad :: ads"></div>

<main>
    <div id="articles">

        <article class="article" th:each="news : ${news}">
            <div id="title">
                <h2 th:text="${news.title}"></h2>
            </div>

            <div id="address">
                <p id="street" th:text="${news.location}"></p>
                <p id="zip" th:text="${news.location}"></p>
            </div>
            <div id="mapsLink">
                <a id="maps" th:href="@{${news.linkLocation}}" th:text="${news.linkLocation}"></a>
            </div>
            <div id="eventTime">
                <div id="weekday">
                    <p th:text="${#temporals.dayOfWeekName(news.timeOfEvent)}"></p>
                </div>
                <div id="date">
                    <p id="dayOfMonth" th:text="${#temporals.format(news.timeOfEvent, 'dd')}"></p>
                    <p id="month" th:text="${#temporals.monthName(news.timeOfEvent)}"></p>
                </div>
                <div id="time">
                    <p class="startTime" th:text="${#temporals.format(news.timeOfEvent, 'HH:mm')}"></p>
                </div>
            </div>
            <div id="countDown">
                <p class="countDownTimer">niðurteljari</p>
            </div>
            <!-- If the user is authenticated -->
            <div id="registrationBtn" th:if="${#authorization.expression('isAuthenticated()')}">
                <!-- Make conditions based on whether the authenticated user is registered for the event -->
                <div th:switch="${registrationService.isRegisteredForEvent(news, user)}">
                    <div th:case="${false}">
                        <form th:action="@{/register}" method="post">
                            <input name="eventId" type="hidden" th:value="${news.id}"/>
                            <input name="isRegistered" type="hidden" th:value="${true}"/>
                            <button class="registerButton" type="submit" disabled="disabled">Skrá mig</button>
                        </form>
                    </div>
                    <div th:case="${true}">
                        <form th:action="@{/unregister}" method="post">
                            <input name="newsId" type="hidden" th:value="${news.id}"/>
                            <button class="unregisterButton" type="submit">Afskrá mig</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="capacityInfo">
                <p id="capacity" th:text="${news.capacity + ' sæti'}"></p>
                <p th:if="${news.isPriorityEvent} == true">Forgangsviðburður</p>
            </div>
            <div id="registrationStarts">
                <p>Skráning hefst:</p>
                <p id="startOfReg" th:text="${#temporals.format(news.registrationOpens, 'dd/MM/yyyy HH:mm')}"></p>
                <p class="registrationOpens"
                   th:text="${#temporals.format(news.registrationOpens, 'dd:MM:yyyy:HH:mm')}"></p>
            </div>
            <div id="closeReg">
                <p>Skráningu lýkur:</p>
                <p id="endOfReg" th:text="${#temporals.format(news.registrationCloses, 'dd/MM/yyyy HH:mm')}"></p>
                <p class="registrationCloses"
                   th:text="${#temporals.format(news.registrationCloses, 'dd:MM:yyyy:HH:mm')}"></p>
            </div>
            <div id="publishInfo">
                <p id="published"
                   th:text="${'Birt ' + #temporals.format(news.datePosted, 'dd/MM') + ' - ' + news.author}"></p>
            </div>


            <div class="countdown">
                <p id="countdownText">Skráning</p>
                <p class="registrationOpens"
                   th:text="${#temporals.format(news.registrationOpens, 'dd:MM:yyyy:HH:mm')}"></p>
                <p class="registrationCloses"
                   th:text="${#temporals.format(news.registrationCloses, 'dd:MM:yyyy:HH:mm')}"></p>
                <p class="timer">
                    <span class="timerInt days"></span>
                    <span class="timerString">daga</span>
                    <span class="timerInt hours"></span>
                    <span class="timerString">klst</span>
                    <span class="timerInt minutes"></span>
                    <span class="timerString">mín</span>
                    <span class="timerInt seconds"></span>
                    <span class="timerString">sek</span>
                </p>
            </div>

        </article>
    </div>
</main>

<footer th:replace="layout :: footer"></footer>
<div th:replace="layout :: scripts"></div>

</body>
</html>