<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Nemendafélagið Nörd</title>
    <link rel="stylesheet" href="../../css/normalize.css" />
</head>
<body>

<form enctype="multipart/form-data" th:action="@{${action}}" method="post" th:object="${event}">
    <input type="hidden" th:field="*{id}"/>

    <h2 th:text="${heading}">Búa til Viðburð</h2>

    <label for="title">Fyrirsögn:</label>
    <input type="text" th:field="*{title}" id="title" placeholder="Fyrirsögn"/>

    <label for="description">Meginmál:</label>
    <textarea cols="86" rows ="20" th:field="*{description}" id="description" placeholder="Meginmál"></textarea>

    <label for="host">Gestgjafi:</label>
    <input type="text" th:field="*{host}" id="host" placeholder="Gestgjafi"/>

    <label for="location">Staðsetning:</label>
    <input type="text" th:field="*{location}" id="location" placeholder="Staðsetning"/>

    <label for="linkLocation">Já.is/Google maps linkur:</label>
    <input type="url" th:field="*{linkLocation}" id="linkLocation" placeholder="https://ja.is/"/>

    <label for="capacity">Hámarksfjöldi:</label>
    <input type="number" th:field="*{capacity}" id="capacity"/>

    <label for="timeOfEvent">Dags. og tími viðburðar:</label>
    <input type="datetime-local" th:field="*{timeOfEvent}" id="timeOfEvent"/>

    <label for="registrationOpens">Skráning hefst:</label>
    <input type="datetime-local" th:field="*{registrationOpens}" id="registrationOpens"/>

    <label for="registrationCloses">Skráningu lýkur:</label>
    <input type="datetime-local" th:field="*{registrationCloses}" id="registrationCloses"/>

    <label for="isPriorityEvent">Forgangsviðburður:</label>
    <input type="checkbox" th:field="*{isPriorityEvent}" id="isPriorityEvent"/>

    <div class="file-wrapper">
        <input type="file" id="file" name="file"/>
        <span class="placeholder" data-placeholder="Choose an image...">Choose an image...</span>
        <label for="file" class="button">Browse</label>
    </div>
    <input type="hidden" th:field="*{bytes}"/>

    <button th:text="${submit}" type="submit"></button>
</form>


<a th:href="@{/}">Fara á forsíðu</a>

</body>

</html>