<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Nemendafélagið Nörd</title>
    <link rel="stylesheet" href="../../css/normalize.css" />
</head>
<body>

<form th:action="@{${action}}" method="post" th:object="${news}">
    <input type="hidden" th:field="*{id}"/>

    <h2 th:text="${heading}">Búa til frétt</h2>

    <label for="title">Fyrirsögn:</label>
    <input type="text" th:field="*{title}" id="title" placeholder="Fyrirsögn"/>

    <label for="description">Meginmál:</label>
    <textarea cols="86" rows ="20" th:field="*{description}" id="description" placeholder="Meginmál"></textarea>

    <button th:text="${submit}" type="submit"></button>
</form>


<a th:href="@{/}">Fara á forsíðu</a>

</body>

</html>