<!DOCTYPE html>
<html lang="en">
<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/assets/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/main.css}"/>
</head>


<body>

<main>
<div th:replace="layout :: flash"></div>

<form th:action="@{/login}" th:object="${user}" method="post">

    <input th:field="*{username}" placeholder="username"/>

    <input type="password" th:field="*{password}" placeholder="password"/>

    <button type="submit">Login</button>

</form>
</main>

</body>

</html>
