<!DOCTYPE html>

<html>

<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: nav"></nav>

<!-- Only admins are autorized to make new news items and events -->
<div class="new-items">
    <a sec:authorize="hasRole('ROLE_ADMIN')" href="/news/add">Búa til frétt</a>
    <a sec:authorize="hasRole('ROLE_ADMIN')" href="/event/add">Búa til Viðburð</a>
</div>


<!-- For each news item -->
<div th:each="news : ${news}" class="news-item">
    <div>
        <h1 th:text="${news.title}"></h1>
        <a th:text="${news.description}"></a>
        <h4 th:text="${'Birt af: '  + news.author}"></h4>

        <!-- If the news item is an event -->
        <div th:if="${news instanceof T(is.nord.model.Event)}">
            <h4 th:text="${'Gestgjafi: ' + news.host}"></h4>

            <!-- If the user is authenticated -->
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <!-- Print out the list of registrations for each event -->
                <h2>Skráningar:</h2>
                <div th:each="registration : ${registrationService.findRegistrationsByEvent(news)}">
                    <h4 th:text="${registration.user.username}"></h4>
                </div>
                <!-- Make conditions based on whether the authenticated user is registered for the event -->
                <div th:switch="${registrationService.isRegisteredForEvent(news, user)}">
                    <div th:case="${false}">
                        <form th:action="@{/register}" method="post">
                            <input name="eventId" type="hidden" th:value="${news.id}" />
                            <input name="isRegistered" type="hidden" th:value="${true}" />
                            <button type="submit">Skrá mig</button>
                        </form>
                    </div>
                    <div th:case="${true}">
                        <form th:action="@{/unregister}" method="post">
                            <input name="newsId" type="hidden" th:value="${news.id}" />
                            <button type="submit">Afskrá mig</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div th:switch="${news instanceof T(is.nord.model.Event)}">
            <div th:case="${false}">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{|/news/${news.id}/edit|}">Breyta</a>
            </div>
            <div th:case="${true}">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{|/event/${news.id}/edit|}">Breyta</a>
            </div>
        </div>
    </div>
</div>

</body>

</html>