<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Nemendafélagið Nörd</title>
    <link rel="stylesheet" href="@{/assets/css/normalize.css}" />
</head>
<body>
<div th:replace="layout :: flash"></div>
<form enctype="multipart/form-data" th:action="@{${action}}" method="post" th:object="${ad}">
    <input type="hidden" th:field="*{id}"/>

    <h2 th:text="${heading}">Búa til auglýsingu</h2>

    <input type="text" th:field="*{link}" placeholder="http://ja.is"/>
    <div class="error-message" th:if="${#fields.hasErrors('link')}" th:errors="*{link}"></div>

    <div class="file-wrapper">
        <input type="file" id="file" name="file"/>
        <span class="placeholder" data-placeholder="Choose an image...">Choose an image...</span>
        <label for="file" class="button">Browse</label>
    </div>
    <input type="hidden" th:field="*{bytes}"/>

    <button th:text="${submit}" type="submit"></button>
</form>


<a th:href="@{/}">Fara á forsíðu</a>

</body>

</html>